{{ _("Dear") }} {{ userObj.name }},
<h4>{{ _("Thank you for your registration") }}</h4>
{{ _("Please confirm your e-mail by clicking confirmation link below or copying it to browser") }}<BR>
<a href="{{ config.application.publicUrl }}user/confirmEmail/{{ userObj.emailHash }}" >{{ config.application.publicUrl }}user/confirmEmail/{{ userObj.emailHash }}</a>


<BR><BR>
