.m-t-0-i {
  margin-top: 0px !important;
}
.m-r-0-i {
  margin-right: 0px !important;
}
.m-l-0-i {
  margin-left: 0px !important;
}
.m-b-0-i {
  margin-bottom: 0px !important;
}
.m-t-7 {
  margin-top: 7px;
}
.m-r-7 {
  margin-right: 7px;
}
.m-l-7 {
  margin-left: 7px;
}
.m-b-7 {
  margin-bottom: 7px;
}
@mixin generate-margin-options($n, $j: 0) {
  @if $j <= $n {
    @for $i from $j through $n {
      $step : $i*5;
      .m-t-#{$step} {
        margin-top: ($step*1px);
      }
      .m-r-#{$step} {
        margin-right: ($step*1px);
      }
      .m-l-#{$step} {
        margin-left: ($step*1px);
      }
      .m-b-#{$step} {
        margin-bottom: ($step*1px);
      }
    }
  }
}

@include generate-margin-options(20);

.full-height{
  height: 100% !important;
}
.full-width{
  width: 100%;
}
.hide {
  display: none;
}
.inline{
  display:inline-block !important;
}
.block{
  display: block;
}


@mixin padding-margins($prefix){

  /* Generic Padding Helpers
  ------------------------------------
  */
  .#{$prefix}p-t-7 {
    padding-top: 7px !important; }

  .#{$prefix}p-r-7 {
    padding-right: 7px !important; }

  .#{$prefix}p-l-7 {
    padding-left: 7px !important; }

  .#{$prefix}p-b-7 {
    padding-bottom: 7px !important; }

  .#{$prefix}p-t-13 {
    padding-top: 13px !important; }

  .#{$prefix}p-r-13 {
    padding-right: 13px !important; }

  .#{$prefix}p-l-13 {
    padding-left: 13px !important; }

  .#{$prefix}p-b-13 {
    padding-bottom: 13px !important; }

  .#{$prefix}p-t-0 {
    padding-top: 0px !important; }

  .#{$prefix}p-r-0 {
    padding-right: 0px !important; }

  .#{$prefix}p-l-0 {
    padding-left: 0px !important; }

  .#{$prefix}p-b-0 {
    padding-bottom: 0px !important; }

  .#{$prefix}padding-0 {
    padding: 0px !important; }

  .#{$prefix}p-t-5 {
    padding-top: 5px !important; }

  .#{$prefix}p-r-5 {
    padding-right: 5px !important; }

  .#{$prefix}p-l-5 {
    padding-left: 5px !important; }

  .#{$prefix}p-b-5 {
    padding-bottom: 5px !important; }

  .#{$prefix}padding-5 {
    padding: 5px !important; }

  .#{$prefix}p-t-10 {
    padding-top: 10px !important; }

  .#{$prefix}p-r-10 {
    padding-right: 10px !important; }

  .#{$prefix}p-l-10 {
    padding-left: 10px !important; }

  .#{$prefix}p-b-10 {
    padding-bottom: 10px !important; }

  .#{$prefix}padding-10 {
    padding: 10px !important; }

  .#{$prefix}p-t-15 {
    padding-top: 15px !important; }

  .#{$prefix}p-r-15 {
    padding-right: 15px !important; }

  .#{$prefix}p-l-15 {
    padding-left: 15px !important; }

  .#{$prefix}p-b-15 {
    padding-bottom: 15px !important; }

  .#{$prefix}padding-15 {
    padding: 15px !important; }

  .#{$prefix}p-t-20 {
    padding-top: 20px !important; }

  .#{$prefix}p-r-20 {
    padding-right: 20px !important; }

  .#{$prefix}p-l-20 {
    padding-left: 20px !important; }

  .#{$prefix}p-b-20 {
    padding-bottom: 20px !important; }

  .#{$prefix}padding-20 {
    padding: 20px !important; }

  .#{$prefix}p-t-25 {
    padding-top: 25px !important; }

  .#{$prefix}p-r-25 {
    padding-right: 25px !important; }

  .#{$prefix}p-l-25 {
    padding-left: 25px !important; }

  .#{$prefix}p-b-25 {
    padding-bottom: 25px !important; }

  .#{$prefix}padding-25 {
    padding: 25px !important; }

  .#{$prefix}p-t-30 {
    padding-top: 30px !important; }

  .#{$prefix}p-r-30 {
    padding-right: 30px !important; }

  .#{$prefix}p-l-30 {
    padding-left: 30px !important; }

  .#{$prefix}p-b-30 {
    padding-bottom: 30px !important; }

  .#{$prefix}padding-30 {
    padding: 30px !important; }

  .#{$prefix}p-t-35 {
    padding-top: 35px !important; }

  .#{$prefix}p-r-35 {
    padding-right: 35px !important; }

  .#{$prefix}p-l-35 {
    padding-left: 35px !important; }

  .#{$prefix}p-b-35 {
    padding-bottom: 35px !important; }

  .#{$prefix}padding-35 {
    padding: 35px !important; }

  .#{$prefix}p-t-40 {
    padding-top: 40px !important; }

  .#{$prefix}p-r-40 {
    padding-right: 40px !important; }

  .#{$prefix}p-l-40 {
    padding-left: 40px !important; }

  .#{$prefix}p-b-40 {
    padding-bottom: 40px !important; }

  .#{$prefix}padding-40 {
    padding: 40px !important; }

  .#{$prefix}p-t-45 {
    padding-top: 45px !important; }

  .#{$prefix}p-r-45 {
    padding-right: 45px !important; }

  .#{$prefix}p-l-45 {
    padding-left: 45px !important; }

  .#{$prefix}p-b-45 {
    padding-bottom: 45px !important; }

  .#{$prefix}padding-45 {
    padding: 45px !important; }

  .#{$prefix}p-t-50 {
    padding-top: 50px !important; }

  .#{$prefix}p-r-50 {
    padding-right: 50px !important; }

  .#{$prefix}p-l-50 {
    padding-left: 50px !important; }

  .#{$prefix}p-b-50 {
    padding-bottom: 50px !important; }

  .#{$prefix}padding-50 {
    padding: 50px !important; }

  .#{$prefix}p-t-55 {
    padding-top: 55px !important; }

  .#{$prefix}p-r-55 {
    padding-right: 55px !important; }

  .#{$prefix}p-l-55 {
    padding-left: 55px !important; }

  .#{$prefix}p-b-55 {
    padding-bottom: 55px !important; }

  .#{$prefix}padding-55 {
    padding: 55px !important; }

  .#{$prefix}p-t-60 {
    padding-top: 60px !important; }

  .#{$prefix}p-r-60 {
    padding-right: 60px !important; }

  .#{$prefix}p-l-60 {
    padding-left: 60px !important; }

  .#{$prefix}p-b-60 {
    padding-bottom: 60px !important; }

  .#{$prefix}padding-60 {
    padding: 60px !important; }

  .#{$prefix}p-t-65 {
    padding-top: 65px !important; }

  .#{$prefix}p-r-65 {
    padding-right: 65px !important; }

  .#{$prefix}p-l-65 {
    padding-left: 65px !important; }

  .#{$prefix}p-b-65 {
    padding-bottom: 65px !important; }

  .#{$prefix}padding-65 {
    padding: 65px !important; }

  .#{$prefix}p-t-70 {
    padding-top: 70px !important; }

  .#{$prefix}p-r-70 {
    padding-right: 70px !important; }

  .#{$prefix}p-l-70 {
    padding-left: 70px !important; }

  .#{$prefix}p-b-70 {
    padding-bottom: 70px !important; }

  .#{$prefix}padding-70 {
    padding: 70px !important; }

  .#{$prefix}p-t-75 {
    padding-top: 75px !important; }

  .#{$prefix}p-r-75 {
    padding-right: 75px !important; }

  .#{$prefix}p-l-75 {
    padding-left: 75px !important; }

  .#{$prefix}p-b-75 {
    padding-bottom: 75px !important; }

  .#{$prefix}padding-75 {
    padding: 75px !important; }

  .#{$prefix}p-t-80 {
    padding-top: 80px !important; }

  .#{$prefix}p-r-80 {
    padding-right: 80px !important; }

  .#{$prefix}p-l-80 {
    padding-left: 80px !important; }

  .#{$prefix}p-b-80 {
    padding-bottom: 80px !important; }

  .#{$prefix}padding-80 {
    padding: 80px !important; }

  .#{$prefix}p-t-85 {
    padding-top: 85px !important; }

  .#{$prefix}p-r-85 {
    padding-right: 85px !important; }

  .#{$prefix}p-l-85 {
    padding-left: 85px !important; }

  .#{$prefix}p-b-85 {
    padding-bottom: 85px !important; }

  .#{$prefix}padding-85 {
    padding: 85px !important; }

  .#{$prefix}p-t-90 {
    padding-top: 90px !important; }

  .#{$prefix}p-r-90 {
    padding-right: 90px !important; }

  .#{$prefix}p-l-90 {
    padding-left: 90px !important; }

  .#{$prefix}p-b-90 {
    padding-bottom: 90px !important; }

  .#{$prefix}padding-90 {
    padding: 90px !important; }

  .#{$prefix}p-t-95 {
    padding-top: 95px !important; }

  .#{$prefix}p-r-95 {
    padding-right: 95px !important; }

  .#{$prefix}p-l-95 {
    padding-left: 95px !important; }

  .#{$prefix}p-b-95 {
    padding-bottom: 95px !important; }

  .#{$prefix}padding-95 {
    padding: 95px !important; }

  .#{$prefix}p-t-100 {
    padding-top: 100px !important; }

  .#{$prefix}p-r-100 {
    padding-right: 100px !important; }

  .#{$prefix}p-l-100 {
    padding-left: 100px !important; }

  .#{$prefix}p-b-100 {
    padding-bottom: 100px !important; }

  .#{$prefix}padding-100 {
    padding: 100px !important; }

  /* Generic Margin Helpers
  ------------------------------------
   */
  .#{$prefix}m-t-0-i {
    margin-top: 0px !important; }

  .#{$prefix}m-r-0-i {
    margin-right: 0px !important; }

  .#{$prefix}m-l-0-i {
    margin-left: 0px !important; }

  .#{$prefix}m-b-0-i {
    margin-bottom: 0px !important; }

  .#{$prefix}m-t-7 {
    margin-top: 7px; }

  .#{$prefix}m-r-7 {
    margin-right: 7px; }

  .#{$prefix}m-l-7 {
    margin-left: 7px; }

  .#{$prefix}m-b-7 {
    margin-bottom: 7px; }

  .#{$prefix}m-t-0 {
    margin-top: 0px; }

  .#{$prefix}m-r-0 {
    margin-right: 0px; }

  .#{$prefix}m-l-0 {
    margin-left: 0px; }

  .#{$prefix}m-b-0 {
    margin-bottom: 0px; }

  .#{$prefix}m-t-5 {
    margin-top: 5px; }

  .#{$prefix}m-r-5 {
    margin-right: 5px; }

  .#{$prefix}m-l-5 {
    margin-left: 5px; }

  .#{$prefix}m-b-5 {
    margin-bottom: 5px; }

  .#{$prefix}m-t-10 {
    margin-top: 10px; }

  .#{$prefix}m-r-10 {
    margin-right: 10px; }

  .#{$prefix}m-l-10 {
    margin-left: 10px; }

  .#{$prefix}m-b-10 {
    margin-bottom: 10px; }

  .#{$prefix}m-t-15 {
    margin-top: 15px; }

  .#{$prefix}m-r-15 {
    margin-right: 15px; }

  .#{$prefix}m-l-15 {
    margin-left: 15px; }

  .#{$prefix}m-b-15 {
    margin-bottom: 15px; }

  .#{$prefix}m-t-20 {
    margin-top: 20px; }

  .#{$prefix}m-r-20 {
    margin-right: 20px; }

  .#{$prefix}m-l-20 {
    margin-left: 20px; }

  .#{$prefix}m-b-20 {
    margin-bottom: 20px; }

  .#{$prefix}m-t-25 {
    margin-top: 25px; }

  .#{$prefix}m-r-25 {
    margin-right: 25px; }

  .#{$prefix}m-l-25 {
    margin-left: 25px; }

  .#{$prefix}m-b-25 {
    margin-bottom: 25px; }

  .#{$prefix}m-t-30 {
    margin-top: 30px; }

  .#{$prefix}m-r-30 {
    margin-right: 30px; }

  .#{$prefix}m-l-30 {
    margin-left: 30px; }

  .#{$prefix}m-b-30 {
    margin-bottom: 30px; }

  .#{$prefix}m-t-35 {
    margin-top: 35px; }

  .#{$prefix}m-r-35 {
    margin-right: 35px; }

  .#{$prefix}m-l-35 {
    margin-left: 35px; }

  .#{$prefix}m-b-35 {
    margin-bottom: 35px; }

  .#{$prefix}m-t-40 {
    margin-top: 40px; }

  .#{$prefix}m-r-40 {
    margin-right: 40px; }

  .#{$prefix}m-l-40 {
    margin-left: 40px; }

  .#{$prefix}m-b-40 {
    margin-bottom: 40px; }

  .#{$prefix}m-t-45 {
    margin-top: 45px; }

  .#{$prefix}m-r-45 {
    margin-right: 45px; }

  .#{$prefix}m-l-45 {
    margin-left: 45px; }

  .#{$prefix}m-b-45 {
    margin-bottom: 45px; }

  .#{$prefix}m-t-50 {
    margin-top: 50px; }

  .#{$prefix}m-r-50 {
    margin-right: 50px; }

  .#{$prefix}m-l-50 {
    margin-left: 50px; }

  .#{$prefix}m-b-50 {
    margin-bottom: 50px; }

  .#{$prefix}m-t-55 {
    margin-top: 55px; }

  .#{$prefix}m-r-55 {
    margin-right: 55px; }

  .#{$prefix}m-l-55 {
    margin-left: 55px; }

  .#{$prefix}m-b-55 {
    margin-bottom: 55px; }

  .#{$prefix}m-t-60 {
    margin-top: 60px; }

  .#{$prefix}m-r-60 {
    margin-right: 60px; }

  .#{$prefix}m-l-60 {
    margin-left: 60px; }

  .#{$prefix}m-b-60 {
    margin-bottom: 60px; }

  .#{$prefix}m-t-65 {
    margin-top: 65px; }

  .#{$prefix}m-r-65 {
    margin-right: 65px; }

  .#{$prefix}m-l-65 {
    margin-left: 65px; }

  .#{$prefix}m-b-65 {
    margin-bottom: 65px; }

  .#{$prefix}m-t-70 {
    margin-top: 70px; }

  .#{$prefix}m-r-70 {
    margin-right: 70px; }

  .#{$prefix}m-l-70 {
    margin-left: 70px; }

  .#{$prefix}m-b-70 {
    margin-bottom: 70px; }

  .#{$prefix}m-t-75 {
    margin-top: 75px; }

  .#{$prefix}m-r-75 {
    margin-right: 75px; }

  .#{$prefix}m-l-75 {
    margin-left: 75px; }

  .#{$prefix}m-b-75 {
    margin-bottom: 75px; }

  .#{$prefix}m-t-80 {
    margin-top: 80px; }

  .#{$prefix}m-r-80 {
    margin-right: 80px; }

  .#{$prefix}m-l-80 {
    margin-left: 80px; }

  .#{$prefix}m-b-80 {
    margin-bottom: 80px; }

  .#{$prefix}m-t-85 {
    margin-top: 85px; }

  .#{$prefix}m-r-85 {
    margin-right: 85px; }

  .#{$prefix}m-l-85 {
    margin-left: 85px; }

  .#{$prefix}m-b-85 {
    margin-bottom: 85px; }

  .#{$prefix}m-t-90 {
    margin-top: 90px; }

  .#{$prefix}m-r-90 {
    margin-right: 90px; }

  .#{$prefix}m-l-90 {
    margin-left: 90px; }

  .#{$prefix}m-b-90 {
    margin-bottom: 90px; }

  .#{$prefix}m-t-95 {
    margin-top: 95px; }

  .#{$prefix}m-r-95 {
    margin-right: 95px; }

  .#{$prefix}m-l-95 {
    margin-left: 95px; }

  .#{$prefix}m-b-95 {
    margin-bottom: 95px; }

  .#{$prefix}m-t-100 {
    margin-top: 100px; }

  .#{$prefix}m-r-100 {
    margin-right: 100px; }

  .#{$prefix}m-l-100 {
    margin-left: 100px; }

  .#{$prefix}m-b-100 {
    margin-bottom: 100px; }

  .#{$prefix}pull-left {
    float: left;
  }
  .#{$prefix}pull-right {
    float: right;
  }

  .#{$prefix}pull-left-i {
    float: left !important;
  }
  .#{$prefix}pull-right-i {
    float: right !important;
  }


  .col-#{$prefix}115 {
    width: 95.83333333%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
  }
  .col-#{$prefix}105 {
    width: 87.49999999%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
  }
  .col-#{$prefix}95 {
    width: 79.16666666%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
  }
  .col-#{$prefix}85 {
    width: 70.83333333%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
  }
  .col-#{$prefix}75 {
    width: 62.49999999%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
  }
  .col-#{$prefix}65 {
    width: 54.16666666%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
  }
  .col-#{$prefix}55 {
    width: 45.83333333%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
  }
  .col-#{$prefix}45 {
    width: 37.49999999%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
  }
  .col-#{$prefix}35 {
    width: 29.16666666%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
  }
  .col-#{$prefix}25 {
    width: 20.49999999%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
  }
  .col-#{$prefix}15 {
    width: 12.49999999%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
  }
  .col-#{$prefix}05 {
    width: 4.16666666%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
  }
  .#{$prefix}m-t-3{
    margin-top: 3px;
  }

  .#{$prefix}no-border{
    border: none !important;
  }
}
@include padding-margins("");

@media (max-width: 767px){
  @include padding-margins("xs-");
  .display-xs-flex {
    display: flex;
  }

  .xs-full-width {
    width: 100%;
  }
  #top-cart {
    margin:18px 0 !important;
    position: relative !important;
    width: 55px;
  }
  #top-cart .headerNameField {
    display: none;
  }

  .invest-opportunities {
    padding: 20px;
  }

}
@media (min-width: 768px) and (max-width: 991px){
  @include padding-margins("sm-");
  .display-sm-flex {
    display: flex;
  }
  .sm-full-width {
    width: 100%;
  }
  .profileControls {
    width: 110px;
    margin-top: 18px;
  }

  #top-cart {
    margin:18px 0 !important;
    position: relative !important;
    width: 55px;
  }

  #top-cart .headerNameField {
    display: none;
  }

}

@media (min-width: 992px) and (max-width: 1199px){
  @include padding-margins("md-");
  .display-md-flex {
    display: flex;
  }
  .profileControls {
    width: 215px;
    margin-top: 18px;
  }

  .row.form-row {
    margin-left: -30px !important;
    margin-right: -30px !important;
  }

}
@media (min-width: 1200px){
  @include padding-margins("lg-");
  .display-lg-flex {
    display: flex;
  }
  .profileControls {
    width: 215px;
    margin-top: 18px;
  }

  .row.form-row {
    margin-left: -30px !important;
    margin-right: -30px !important;
  }
}



/** Loader **/

.loaderOverlay{
  position: fixed;
  width: 100%;
  height: 100%;
  display: block;
  background: rgba(255,255,255,0.95);
  top: 0px;
  left: 0px;
  z-index: 110000;
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  opacity: 1;
}


.loader:before,
.loader:after,
.loader {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: $blueDarkColor;
  font-size: 10px;
  top: 50%;
  margin-top: -95px !important;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

body:not(.no-transition) #wrapper,
.animsition-overlay {
  position: relative;
  opacity: 0;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.css3-spinner {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  text-align: center;
  background-color: #FFF;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.css3-spinner > div {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -9px;
  margin-left: 13px;
  width: 18px;
  height: 18px;
  background-color: #DDD;
  @include border-radius(100%);
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.css3-spinner .css3-spinner-bounce1 {
  margin-left: -31px;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.css3-spinner .css3-spinner-bounce2 {
  margin-left: -9px;
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
}


.css3-spinner > .css3-spinner-flipper {
  width: 32px;
  height: 32px;
  margin-top: -16px;
  margin-left: -16px;
  @include border-radius(0);
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
      transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    } 100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      }
}

.css3-spinner > .css3-spinner-double-bounce1,
.css3-spinner > .css3-spinner-double-bounce2 {
  width: 40px;
  height: 40px;
  margin-top: -20px;
  margin-left: -20px;
  @include border-radius(50%);
  opacity: 0.6;
  -webkit-animation: cssspinnerbounce 2.0s infinite ease-in-out;
  animation: cssspinnerbounce 2.0s infinite ease-in-out;
}

.css3-spinner > .css3-spinner-double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes cssspinnerbounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes cssspinnerbounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
}

.css3-spinner > .css3-spinner-rect1,
.css3-spinner > .css3-spinner-rect2,
.css3-spinner > .css3-spinner-rect3,
.css3-spinner > .css3-spinner-rect4,
.css3-spinner > .css3-spinner-rect5 {
  height: 30px;
  width: 6px;
  margin-top: -15px;
  margin-left: -21px;
  @include border-radius(0);
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.css3-spinner > .css3-spinner-rect2 {
  margin-left: -12px;
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.css3-spinner > .css3-spinner-rect3 {
  margin-left: -3px;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.css3-spinner > .css3-spinner-rect4 {
  margin-left: 6px;
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.css3-spinner > .css3-spinner-rect5 {
  margin-left: 15px;
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
       transform: scaleY(1.0);
       -webkit-transform: scaleY(1.0);
     }
}


.css3-spinner > .css3-spinner-cube1,
.css3-spinner > .css3-spinner-cube2 {
  width: 16px;
  height: 16px;
  @include border-radius(0);
  margin-top: -20px;
  margin-left: -20px;
  -webkit-animation: cubemove 1.8s infinite ease-in-out;
  animation: cubemove 1.8s infinite ease-in-out;
}

.css3-spinner > .css3-spinner-cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% {
      transform: translateX(42px) translateY(42px) rotate(-179deg);
      -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
    } 50.1% {
        transform: translateX(42px) translateY(42px) rotate(-180deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
      } 75% {
          transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
          -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
        } 100% {
            transform: rotate(-360deg);
            -webkit-transform: rotate(-360deg);
          }
}


.css3-spinner > .css3-spinner-scaler {
  width: 40px;
  height: 40px;
  margin-top: -20px;
  margin-left: -20px;
  -webkit-animation: scaleout 1.0s infinite ease-in-out;
  animation: scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes scaleout {
  0% { -webkit-transform: scale(0.0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 100% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
      opacity: 0;
    }
}

.css3-spinner > .css3-spinner-grid-pulse {
  width: 48px;
  height: 48px;
  margin-top: -24px;
  margin-left: -24px;
  background-color: transparent !important;
  -webkit-animation: none;
  animation: none;
}

.css3-spinner-grid-pulse > div {
  background-color: #DDD;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  margin: 2px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  display: inline-block;
  float: left;
  -webkit-animation-name: ball-grid-pulse;
  animation-name: ball-grid-pulse;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-delay: 0;
  animation-delay: 0;
}

.css3-spinner-grid-pulse > div:nth-child(1) {
  -webkit-animation-delay: 0.73s;
  animation-delay: 0.73s;
  -webkit-animation-duration: 1.3s;
  animation-duration: 1.3s;
}

.css3-spinner-grid-pulse > div:nth-child(2) {
  -webkit-animation-delay: 0.32s;
  animation-delay: 0.32s;
  -webkit-animation-duration: 1.3s;
  animation-duration: 1.3s;
}

.css3-spinner-grid-pulse > div:nth-child(3) {
  -webkit-animation-delay: 0.71s;
  animation-delay: 0.71s;
  -webkit-animation-duration: 0.88s;
  animation-duration: 0.88s;
}

.css3-spinner-grid-pulse > div:nth-child(4) {
  -webkit-animation-delay: 0.62s;
  animation-delay: 0.62s;
  -webkit-animation-duration: 1.06s;
  animation-duration: 1.06s;
}

.css3-spinner-grid-pulse > div:nth-child(5) {
  -webkit-animation-delay: 0.31s;
  animation-delay: 0.31s;
  -webkit-animation-duration: 0.62s;
  animation-duration: 0.62s;
}

.css3-spinner-grid-pulse > div:nth-child(6) {
  -webkit-animation-delay: -0.14s;
  animation-delay: -0.14s;
  -webkit-animation-duration: 1.48s;
  animation-duration: 1.48s;
}

.css3-spinner-grid-pulse > div:nth-child(7) {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
  -webkit-animation-duration: 1.47s;
  animation-duration: 1.47s;
}

.css3-spinner-grid-pulse > div:nth-child(8) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  -webkit-animation-duration: 1.49s;
  animation-duration: 1.49s;
}

.css3-spinner-grid-pulse > div:nth-child(9) {
  -webkit-animation-delay: 0.73s;
  animation-delay: 0.73s;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
}

@-webkit-keyframes ball-grid-pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }

  50% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0.7; }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
}

@keyframes ball-grid-pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }

  50% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0.7; }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; }
}


.css3-spinner > .css3-spinner-clip-rotate {
  width: 33px;
  height: 33px;
  margin-top: -17px;
  margin-left: -17px;
  background-color: transparent !important;
  -webkit-animation: none;
  animation: none;
}

.css3-spinner-clip-rotate > div {
  border-radius: 100%;
  border: 2px solid #DDD;
  border-bottom-color: transparent !important;
  height: 33px;
  width: 33px;
  background: transparent !important;
  -webkit-animation: rotate 1s 0s linear infinite;
  animation: rotate 1s 0s linear infinite;
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1); }

  50% {
    -webkit-transform: rotate(180deg) scale(0.6);
    transform: rotate(180deg) scale(0.6); }

  100% {
    -webkit-transform: rotate(360deg) scale(1);
    transform: rotate(360deg) scale(1); }
}


.css3-spinner > .css3-spinner-ball-rotate {
  width: 12px;
  height: 12px;
  margin-top: -6px;
  margin-left: -6px;
  background-color: transparent !important;
  -webkit-animation: ballrotate 1s 0s cubic-bezier(.7, -.13, .22, .86) infinite;
  animation: ballrotate 1s 0s cubic-bezier(.7, -.13, .22, .86) infinite;
}

.css3-spinner-ball-rotate > div {
  background-color: #DDD;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  position: relative;
}

.css3-spinner-ball-rotate > div:nth-child(1), .css3-spinner-ball-rotate > div:nth-child(3) {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  content: "";
  position: absolute;
  opacity: 0.7;
}

.css3-spinner-ball-rotate > div:nth-child(1) {
  top: 0px;
  left: -22px;
}

.css3-spinner-ball-rotate > div:nth-child(3) {
  top: 0px;
  left: 22px;
}


@-webkit-keyframes ballrotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); }
}

@keyframes ballrotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); }
}


.css3-spinner > .css3-spinner-zig-zag {
  background-color: transparent !important;
  -webkit-transform: translate(-15px, -15px);
  -ms-transform: translate(-15px, -15px);
  transform: translate(-15px, -15px);
  -webkit-animation: none;
  animation: none;
}

.css3-spinner-zig-zag > div {
  background-color: #DDD;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  position: absolute;
  margin-left: 15px;
  top: 4px;
  left: -7px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.css3-spinner-zig-zag > div:first-child {
  -webkit-animation: ball-zig-deflect 1.5s 0s infinite linear;
  animation: ball-zig-deflect 1.5s 0s infinite linear;
}

.css3-spinner-zig-zag > div:last-child {
  -webkit-animation: ball-zag-deflect 1.5s 0s infinite linear;
  animation: ball-zag-deflect 1.5s 0s infinite linear;
}


@-webkit-keyframes ball-zig-deflect {
  17% {
    -webkit-transform: translate(-15px, -30px);
    transform: translate(-15px, -30px); }

  34% {
    -webkit-transform: translate(15px, -30px);
    transform: translate(15px, -30px); }

  50% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }

  67% {
    -webkit-transform: translate(15px, -30px);
    transform: translate(15px, -30px); }

  84% {
    -webkit-transform: translate(-15px, -30px);
    transform: translate(-15px, -30px); }

  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
}

@keyframes ball-zig-deflect {
  17% {
    -webkit-transform: translate(-15px, -30px);
    transform: translate(-15px, -30px); }

  34% {
    -webkit-transform: translate(15px, -30px);
    transform: translate(15px, -30px); }

  50% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }

  67% {
    -webkit-transform: translate(15px, -30px);
    transform: translate(15px, -30px); }

  84% {
    -webkit-transform: translate(-15px, -30px);
    transform: translate(-15px, -30px); }

  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
}

@-webkit-keyframes ball-zag-deflect {
  17% {
    -webkit-transform: translate(15px, 30px);
    transform: translate(15px, 30px); }

  34% {
    -webkit-transform: translate(-15px, 30px);
    transform: translate(-15px, 30px); }

  50% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }

  67% {
    -webkit-transform: translate(-15px, 30px);
    transform: translate(-15px, 30px); }

  84% {
    -webkit-transform: translate(15px, 30px);
    transform: translate(15px, 30px); }

  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
}

@keyframes ball-zag-deflect {
  17% {
    -webkit-transform: translate(15px, 30px);
    transform: translate(15px, 30px); }

  34% {
    -webkit-transform: translate(-15px, 30px);
    transform: translate(-15px, 30px); }

  50% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }

  67% {
    -webkit-transform: translate(-15px, 30px);
    transform: translate(-15px, 30px); }

  84% {
    -webkit-transform: translate(15px, 30px);
    transform: translate(15px, 30px); }

  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
}


.css3-spinner > .css3-spinner-ball-scale-multiple {
  width: 60px;
  height: 60px;
  margin-left: -30px;
  margin-top: -30px;
  background-color: transparent !important;
  -webkit-animation: none;
  animation: none;
}

.css3-spinner-ball-scale-multiple > div {
  background-color: #DDD;
  border-radius: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 60px;
  height: 60px;
  -webkit-animation: ball-scale-multiple 1.25s 0s linear infinite;
  animation: ball-scale-multiple 1.25s 0s linear infinite;
}

.css3-spinner-ball-scale-multiple > div:nth-child(2) {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.css3-spinner-ball-scale-multiple > div:nth-child(3) {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

@-webkit-keyframes ball-scale-multiple {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0; }

  5% { opacity: 1; }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0; }
}

@keyframes ball-scale-multiple {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0; }

  5% { opacity: 1; }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0; }
}


.css3-spinner > .css3-spinner-triangle-path {
  background-color: transparent !important;
  -webkit-transform: translate(-29.994px, -37.50938px);
  -ms-transform: translate(-29.994px, -37.50938px);
  transform: translate(-29.994px, -37.50938px);
  -webkit-animation: none;
  animation: none;
}

.css3-spinner-triangle-path > div {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #DDD;
}

.css3-spinner-triangle-path > div:nth-child(1) {
  -webkit-animation: ball-triangle-path-1 2s 0s ease-in-out infinite;
  animation: ball-triangle-path-1 2s 0s ease-in-out infinite;
}

.css3-spinner-triangle-path > div:nth-child(2) {
  -webkit-animation: ball-triangle-path-2 2s 0s ease-in-out infinite;
  animation: ball-triangle-path-2 2s 0s ease-in-out infinite;
}

.css3-spinner-triangle-path > div:nth-child(3) {
  -webkit-animation: ball-triangle-path-3 2s 0s ease-in-out infinite;
  animation: ball-triangle-path-3 2s 0s ease-in-out infinite;
}

.css3-spinner-triangle-path > div:nth-of-type(1) { top: 50px; }

.css3-spinner-triangle-path > div:nth-of-type(2) { left: 25px; }

.css3-spinner-triangle-path > div:nth-of-type(3) {
  top: 50px;
  left: 50px;
}

@-webkit-keyframes ball-triangle-path-1 {
  33% {
    -webkit-transform: translate(25px, -50px);
    transform: translate(25px, -50px); }

  66% {
    -webkit-transform: translate(50px, 0px);
    transform: translate(50px, 0px); }

  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }
}

@keyframes ball-triangle-path-1 {
  33% {
    -webkit-transform: translate(25px, -50px);
    transform: translate(25px, -50px); }

  66% {
    -webkit-transform: translate(50px, 0px);
    transform: translate(50px, 0px); }

  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }
}

@-webkit-keyframes ball-triangle-path-2 {
  33% {
    -webkit-transform: translate(25px, 50px);
    transform: translate(25px, 50px); }

  66% {
    -webkit-transform: translate(-25px, 50px);
    transform: translate(-25px, 50px); }

  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }
}

@keyframes ball-triangle-path-2 {
  33% {
    -webkit-transform: translate(25px, 50px);
    transform: translate(25px, 50px); }

  66% {
    -webkit-transform: translate(-25px, 50px);
    transform: translate(-25px, 50px); }

  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }
}

@-webkit-keyframes ball-triangle-path-3 {
  33% {
    -webkit-transform: translate(-50px, 0px);
    transform: translate(-50px, 0px); }

  66% {
    -webkit-transform: translate(-25px, -50px);
    transform: translate(-25px, -50px); }

  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }
}

@keyframes ball-triangle-path-3 {
  33% {
    -webkit-transform: translate(-50px, 0px);
    transform: translate(-50px, 0px); }

  66% {
    -webkit-transform: translate(-25px, -50px);
    transform: translate(-25px, -50px); }

  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }
}


.css3-spinner > .css3-spinner-ball-pulse-sync {
  width: 70px;
  height: 34px;
  margin-left: -35px;
  margin-top: -17px;
  background-color: transparent !important;
  -webkit-animation: none;
  animation: none;
}

.css3-spinner-ball-pulse-sync > div {
  display: inline-block;
  background-color: #DDD;
  width: 14px;
  height: 14px;
  margin: 10px 3px 0;
  border-radius: 100%;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.css3-spinner-ball-pulse-sync > div:nth-child(0) {
  -webkit-animation: ball-pulse-sync 0.7s -0.21s infinite ease-in-out;
  animation: ball-pulse-sync 0.7s -0.21s infinite ease-in-out;
}

.css3-spinner-ball-pulse-sync > div:nth-child(1) {
  -webkit-animation: ball-pulse-sync 0.7s -0.14s infinite ease-in-out;
  animation: ball-pulse-sync 0.7s -0.14s infinite ease-in-out;
}

.css3-spinner-ball-pulse-sync > div:nth-child(2) {
  -webkit-animation: ball-pulse-sync 0.7s -0.07s infinite ease-in-out;
  animation: ball-pulse-sync 0.7s -0.07s infinite ease-in-out;
}

.css3-spinner-ball-pulse-sync > div:nth-child(3) {
  -webkit-animation: ball-pulse-sync 0.7s 0s infinite ease-in-out;
  animation: ball-pulse-sync 0.7s 0s infinite ease-in-out;
}


@-webkit-keyframes ball-pulse-sync {
  33% {
    @include translateY(10px);
    opacity: 0.85;
  }

  66% {
    @include translateY(-10px);
    opacity: 0.7;
  }

  100% {
    @include translateY(0);
    opacity: 1;
  }
}

@keyframes ball-pulse-sync {
  33% {
    @include translateY(10px);
    opacity: 0.85;
  }

  66% {
    @include translateY(-10px);
    opacity: 0.7;
  }

  100% {
    @include translateY(0);
    opacity: 1;
  }
}


.css3-spinner > .css3-spinner-scale-ripple {
  width: 50px;
  height: 50px;
  margin-left: -25px;
  margin-top: -25px;
  background-color: transparent !important;
  -webkit-animation: none;
  animation: none;
}

.css3-spinner-scale-ripple > div {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: absolute;
  top: 0;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 2px solid #DDD;
  -webkit-animation: ball-scale-ripple-multiple 1.4s 0s infinite cubic-bezier(.21, .53, .56, .8);
  animation: ball-scale-ripple-multiple 1.4s 0s infinite cubic-bezier(.21, .53, .56, .8);
}

.css3-spinner-scale-ripple > div:nth-child(0) {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.css3-spinner-scale-ripple > div:nth-child(1) {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.css3-spinner-scale-ripple > div:nth-child(2) {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.css3-spinner-scale-ripple > div:nth-child(3) {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}


@-webkit-keyframes ball-scale-ripple-multiple {
  0% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 1; }

  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.7; }

  100% {
    opacity: 0.0; }
}

@keyframes ball-scale-ripple-multiple {
  0% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 1; }

  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.7; }

  100% {
    opacity: 0.0; }
}




#header-popup-wrapper {
  position: relative;
  width: 100%;
  height: 1px;
  display: block;
}
.header-popup, .successMessage, .errorMessage, .infoMessage{
  position: relative;
  width: 100%;
  height: 30px;
  font-size:14px;
  z-index: 12055 !important;
}
.header-popup a,.header-popup a:active,.header-popup a:visited{
  color: #FFF;
  text-decoration: underline !important;
}
.header-popup a:hover{
  text-decoration: none !important;
}

.header-popup i.ti-close{
  float:right;
  margin-top: 3px;
}
.header-popup.success, .successMessage {
  background: $greenDarkColorRGBA08;
  color: #fff;
}
.header-popup.error, .errorMessage {
  background: $redDarkColorRGBA08;
  color: #fff;
}

.header-popup.info, .infoMessage {
  background: $blueDarkColorRGBA08;
  color: #fff;
}

.header-popup .header-popup-container, .successMessage, .errorMessage, .infoMessage{
  padding: 5px;
  margin: 0 10px;
}

.form-control.error{
  border: solid 1px $color-danger !important;
  color: $color-danger !important;
  display: block;
}