$color-white:                   #fff;
$color-black:                   #000;
$color-grey:                    #b4b4b4;
$color-master:                  #626262;
$color-primary:                 #48ba5e;
$color-secondary:               #3d3d66;


$color-success:                 #10cfbd;
$color-complete:               #48b0f7;
$color-warning: #f8d053;
$color-danger: #f55753;
$color-info: #3b4752;


// Lighter Grey colors
$color-master-light:mix($color-master, #fff, 16%);
$color-master-lighter:mix($color-master, #fff, 9.5%);
$color-master-lightest:mix($color-master, #fff, 3%);

// Darker Grey colors
$color-master-dark:mix($color-master, #000, 45%);
$color-master-darker:mix($color-master, #000, 27%);
$color-master-darkest:mix($color-master, #000, 18%);


//Mixing Color varriable for creating both light and dark colors
$mix-percentage-dark: 81%;
$mix-percentage-darker: 60%;
$mix-percentage-light: 80%;
$mix-percentage-lighter: 20%;

//Lighter colors
$color-success-light: mix($color-success, $color-white, $mix-percentage-light);
$color-success-lighter: mix($color-success, $color-white, $mix-percentage-lighter);

$color-complete-light: mix($color-complete, $color-white, $mix-percentage-light);
$color-complete-lighter: mix($color-complete, $color-white, $mix-percentage-lighter);

$color-primary-light: mix($color-primary, $color-white, $mix-percentage-light);
$color-primary-lighter: mix($color-primary, $color-white, $mix-percentage-lighter);

$color-warning-light: mix($color-warning, $color-white, $mix-percentage-light);
$color-warning-lighter: mix($color-warning, $color-white, $mix-percentage-lighter);

$color-danger-light: mix($color-danger, $color-white, $mix-percentage-light);
$color-danger-lighter: mix($color-danger, $color-white, $mix-percentage-lighter);

$color-info-light: mix($color-info, $color-white, $mix-percentage-light);
$color-info-lighter: mix($color-info, $color-white, $mix-percentage-lighter);

//Darker colors
$color-success-dark: mix($color-success, $color-black, $mix-percentage-dark);
$color-success-darker: mix($color-success, $color-black, $mix-percentage-darker);

$color-complete-dark: mix($color-complete, $color-black, $mix-percentage-dark);
$color-complete-darker: mix($color-complete, $color-black, $mix-percentage-darker);

$color-primary-dark: mix($color-primary, $color-black, $mix-percentage-dark);
$color-primary-darker: mix($color-primary, $color-black, $mix-percentage-darker);

$color-warning-dark: mix($color-warning, $color-black, $mix-percentage-dark);
$color-warning-darker: mix($color-warning, $color-black, $mix-percentage-darker);

$color-danger-dark: mix($color-danger, $color-black, $mix-percentage-dark);
$color-danger-darker: mix($color-danger, $color-black, $mix-percentage-darker);

$color-info-dark: mix($color-info, $color-black, $mix-percentage-dark);
$color-info-darker: mix($color-info, $color-black, $mix-percentage-darker);


//-------------------- Forms --------------------//
$form-group-height: 54px;
$form-control-border-color: rgba($color-black, .07);

$zIndex-navbar: 10100;
$zIndex-dropdownMask: 10110;

$grayPrimary:#ecf1f3;
$graySecondary:#dde3e3;
$grayLink:#999999;
$graySeparator:#e5e5e5;
$grayGrayBorder:#cccccc;
$grayDark:#666;
$grayBackground: #f1f2f2;

$violettePrimary:#3d3d66;
$greenOriginal:#48ba5e;
$greenPrimary: #66cc00;
$bluePrimary:#2dc2bf;
$blueLink:#0099cc;
$pinkPrimary:#f04887;
$orangeColor: #f89406;
$orangePrimary: $orangeColor;
$redPrimary:#b61843;
$blackPrimary:#282a34;
$bodyBg:#f1f2f2;


$greenDarkColor:#48ba5e;
$greenDarkColorRGBA08:rgba(27,165,65,0.9);
$blueColor:#3ea9f9;
$blueDarkColor:#258ad5;
$blueDarkColorRGBA08:rgba(37,138,213,0.9);
$blueDarkDarkColor:#105f9a;
$redColor:#f22823;
$redDarkColor:#be1b16;
$redDarkColorRGBA08: rgba(190,27,22,0.9);
$orangeColor: #f89406;
$grayColor: #eee;
$darkGrayColor: #606060;
$midGrayColor: #b6b6b6;
$lightGrayColor: #f4f4f4;

body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: $blackPrimary;
}
body.darkBackground{
  background: $graySecondary;
}

body > .container {
  opacity: 0;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

body #wrapper, .animsition-overlay {
  position: relative;
  opacity: 0;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-duration: 3s;
  -webkit-animation-duration: 3s;
}

#wrapper {
  width: 100%;
  margin: 0;
  box-shadow: none;
}


#header .retina-logo.darkLogo{
  display:block;
}
#header .retina-logo.whiteLogo{
  display: none;
}

#header.dark .retina-logo.darkLogo{
  display:none !important;
}
#header.dark .retina-logo.whiteLogo{
  display: block !important;
}

#header.full-header .container, .container-fullwidth{
  padding: 0 !important;
}

#header.full-header {
  border: none;
  background: #30373b;
}

#header.full-header #logo {
  padding: 0;
  margin: 0;
  border-right: none;
}

#header {
  position: relative;
  background-color: $grayBackground;
  border-bottom: 1px solid $grayGrayBorder;
  height: 80px;
}
#header #logo {
  margin-top: 15px;
}

a{
  -webkit-transition: color 0.3s; /* Safari */
  -moz-transition: color 0.3s; /* Safari */
  transition: color 0.3s;
}

nav.main-menu ul{
  margin-left: 15px;
  margin-top: 30px;
  list-style: none;
}

nav.main-menu ul li{
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

nav.main-menu ul li a{
  color: $blueLink;
  text-decoration: none;
}
nav.main-menu ul li a:hover{
  color: $grayDark;
}


.nav-secondary {
  margin-top: 30px;

  ul {
    margin: 0;
    list-style: none;

    li {
      display: inline-block;
      margin-right: 20px;
      margin-left: -4px;

      &:first-child {
        margin-left: 0;
      }
      & a{
        text-decoration: none;
      }
    }
  }
}

.white-background{
  background: #fff;
}

.cornerRadius5{
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;

}

.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
h1.super-huge-error{
  font-size:150px;
  color: $grayPrimary;
}

.colorSuccess{
  color: $greenPrimary !important;
}
.colorError{
  color: $redPrimary !important;
}
.colorInfo{
  color: $bluePrimary !important;
}



@import "form_elements";
@import "custom";
