

<div class="row m-t-100">
    <div class="col-sm-12">
        <h1 class="text-center super-huge-error m-t-100"><i class="ti-shift-right"></i></h1>
        <h3 class="text-center">{{ _("You have logged out") }}</h3>


    </div>
</div>