

<div class="row m-t-100">
    <div class="col-sm-12">
        <h1 class="text-center super-huge-error m-t-100 colorSuccess"><i class="ti-check"></i></h1>
        <h3 class="text-center">{{ _("Password recovery e-mail is sent") }}</h3>


    </div>
</div>